<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="vendor/symfony-cmf/testing/bootstrap/bootstrap.php"
    >

    <testsuites>
        <testsuite name="unit tests">
            <directory>./tests/Unit</directory>
        </testsuite>

        <testsuite name="functional tests with phpcr">
            <directory>./tests/WebTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>src/Resources/</directory>
                <directory>tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="tests/Resources/app" />
    </php>

</phpunit>
